gym/node_modules
gym/public/hot
gym/public/storage
gym/storage/*.key
gym/vendor
gym/config/filesystems.php
gym/.env
gym/.env.backup
gym/.phpunit.result.cache
gym/docker-compose.override.yml
gym/Homestead.json
gym/Homestead.yaml
gym/npm-debug.log
gym/yarn-error.log
gym/.idea
gym/.vscode
gym/composer.lock
gym/public/nfs
